@font-face {
  font-family: "GodgerDisco-Regular";
  src: url("./assets/fonts/GodgerDisco-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "GodgerDisco-Regular";
  font-size: 2.8rem;
  color: black;
  margin-bottom: 2.5rem;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
  font-size: 1rem;
  background-color: rgb(238, 160, 58);
  color: black;
  width: 100%;
  height: auto;

  #formular {
    margin-bottom: 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #date,
  #beginnWork,
  #beginnBreak,
  #endBreak,
  #endWork {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(119, 119, 236);
    width: 140px;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(119, 119, 236);
    width: 200px;
  }

  .p {
    font-size: 1.2rem;
  }

  @media print {
    #formular {
      visibility: hidden;
    }

    #buttons {
      visibility: hidden;
    }
  }
}
